@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}

.navbar {
    padding: .8rem;
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 1.1em !important;
}

.carousel-inner img {
    width: 100%;
    height: auto;
    max-height: 800px;
}

.carousel-item img {
    width:100%;
    height: 20%;
}

.carousel-caption {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

.carousel-caption h1 {
    font-size: 500%;
    text-shadow: 1px 1px 15px #000000;
}

.carousel-caption h3 {
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000000;
    padding-bottom: 1rem;
}

.btn-primary {
    background-color: #298ee0;
    border: 1px solid #1b90d3;
}

.btn-success {
    background-color: rgb(255, 189, 89) !important;
    border: 1px solid rgb(255, 189, 89) !important;
    color: #3f3f3f  !important;
    box-shadow: none !important;

    
}
.btn-success:hover {
    background-color:#3f3f3f !important ;
    border: 1px solid rgb(255, 189, 89) !important;
    color: rgb(255, 189, 89) !important;
    box-shadow: none !important;


}


.btn-primary:hover {
    background-color: #2279c0;
    border: 1px solid #1677af;
}

.btn-success

.jumbotron {
    padding: 1rem;
    border-radius: 0;
}

.padding {
    padding-bottom: 2rem;
}

.welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 90%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

.fa-whatsapp {
    color: #25d366;
}

.fa-bootstrap-large {
    color: #563d7c
}

.fa-airbnb-large {
    color: #FF5A60
}

.fa-whatsapp-large, .fa-bootstrap-large, .fa-airbnb-large {
    font-size: 4em;
    margin: 1rem
}

.fun {
    width: 100%;
    margin:0px;
    color: white;
    font-weight: 500;
}

.gif {
    width:100%
}

.social a {
    font-size: 4.5rem;
    padding: 3rem
}

.fa-facebook {
    color: #3b5998
}

.fa-instagram {
color: #517fa4
}

.fa-airbnb {
    color:#FF5A60
}
.fa-bootstrap {
    color: #563d7c
}

.fa-facebook:hover,
.fa-airbnb:hover,
.fa-bootstrap:hover,
.fa-whatsapp:hover,
.fa-instagram:hover {
    color: #d5d5d5
}

footer
{
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

footer a {
    color: #d5d5d5;
}

hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

/*--  MEDIA --*/

@media (max-width: 992px) {
    .social a {
        font-size: 4em;
        padding: 2rem;
    }
}

@media (max-width:768px) {
    .carousel-caption {
        top:45%;
    }
    
    .carousel-caption h1 {
        font-size: 350%
    }
    
    .carousel-caption h3 {
        font-size: 140%;
        font-weight: 400;
        padding-bottom: .2rem;
    }

    .carousel-caption .btn {
        font-size:95%;
        padding: 8px 14px;
    }

    .display-4 {
        font-size: 200%;
    }

    .social a {
        font-size: 2.5em;
        padding: 1.2rem;
    }
}

@media(max-width: 576px) {
    .carousel-caption {
        top:40%;
    }
    
    .carousel-caption h1 {
        font-size: 250%
    }
    
    .carousel-caption h3 {
        font-size: 110%
    }

    .carousel-caption .btn {
        font-size:90%;
        padding: 4px 8px;
    }

    .carousel-indicators {
        display: none
    }

    .display-4 {
        font-size: 160%;
    }

    .social a {
        font-size: 2em;
        padding: .7rem;
    }
}